<template>
    <div class="container">
        <div class="row justify-content-center pb-3" v-if="userIds">
            <button v-for="userId in activeUsers" v-bind:key="userId" v-on:click="callTo(userId)">Call {{ userId }}</button>
        </div>
        <div class="row justify-content-center video-container mx-auto">
            <video class="my-video" ref="myVideo"></video>
            <video class="user-video" ref="userVideo"></video>
        </div>
    </div>
</template>

<script>

import Pusher from "pusher-js";
import Peer from "simple-peer";

const APP_KEY = '219ef90c7d967a59735e';

export default {
    data() {
        return {
            peers: {},
            myVideo : null,
            userVideo : null,
            user : window.user,
            userIds: null,
            state: {
                userStream: null,
                hasMedia: false,
                otherUserId: null
            }
        }
    },

    beforeMount: function (params) {
        this.setupPusher();
    },

    mounted: function () {
        this.getPermissions()
            .then(stream => {
                this.state.hasMedia = true;
                this.state.userStream = stream;

                try {
                    this.$refs.myVideo.srcObject = stream;
                } catch (err) {
                    this.myVideo.src = URL.createObjectURL(stream);
                }

                this.$refs.myVideo.play();
            })
    },

    computed:  {
        activeUsers: function() {
            let self = this;
            return this.userIds.filter(function(u) {
                return u != self.user.id
            })
        }
    },

    methods: {
        getPermissions: function () {
            return new Promise((res, rej) => {
                navigator.mediaDevices.getUserMedia({video: true, audio: true})
                    .then((stream) => {
                        res(stream)
                    })
                    .catch(err => {
                        throw new Error(`Unable to fetch ${err}`)
                    })

            })
        },

        setupPusher: function () {
            let token = document.head.querySelector('meta[name="csrf-token"]');

            Pusher.logToConsole = true;

            this.pusher = new Pusher(APP_KEY, {
                authEndpoint: '/pusher/auth',
                cluster: 'ap1',
                auth: {
                    params: this.user.id,
                    headers: {
                        'X-CSRF-Token' : token.content
                    }
                }
            })

            this.channel = this.pusher.subscribe('presence-video-channel');

            this.channel.bind(`client-signal-${this.user.id}`, (signal) => {
                let peer = this.peers[signal.userId];

                if (peer == undefined) {
                    this.state.otherUserId = signal.userId;
                    peer = this.startPeer(signal.userId, false);
                }

                peer.signal(signal.data)

            });

        },

        startPeer: function(userId, initiator = true) {
            const peer = new Peer({
                initiator,
                stream: this.state.userStream,
                trickle: false
            })

            peer.on('signal', (data) => {
                this.channel.trigger(`client-signal-${userId}`, {
                    type: 'signal',
                    userId: this.user.id,
                    data: data
                });
            });

            peer.on('stream', (stream) => {
                try {
                    this.$refs.userVideo.srcObject = stream;
                } catch (err) {
                    this.userVideo.src = URL.createObjectURL(stream);
                }

                this.$refs.userVideo.play();
            })

            peer.on('close', () => {
                let peer = this.peers[userId];
                if(peer != undefined) {
                    peer.destroy();
                }
                this.peers[userId] = undefined;
            });

            return peer;
        },

        callTo(userId) {
            this.peers[userId] = this.startPeer(userId);
        }
    }
}
</script>

<style scoped>
    .video-container {
        position: relative;
        width: 600px;
    }

    .user-video {
        border: 1px solid black;
        width: 600px;
    }

    .my-video {
        position: absolute;
        left: 5px;
        bottom: 5px;
        width: 150px;
        z-index: 2;
    }
</style>
